#container {
    font-size: 16px;
}
.main_heading {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5cm;
    font-size: 32px;
    background-color: rgb(24, 82, 77);
}
.nav_bar {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
